.env
output/*.md
**/__pycache__/
**/*.pyc
**/*.pyo
.pytest_cache/
*.egg-info/
dist/

# Terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
.terraform.lock.hcl